[submodule "messages"]
	path = messages
	url = https://github.com/orwell-int/messages
	ignore = untracked
[submodule "server-web"]
	path = server-web
	url = https://github.com/orwell-int/server-web
	ignore = untracked
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
